@using TheKeeperProWebAPI.Models;
@using TheKeeperProWebAPI.ResponesEntities;
@model List<RequestResponse>;
@{
    Layout = "_DefaultView";
}
<!DOCTYPE html>
<html lang="ru">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список заявок</title>
    <style>
        .tbl {
            margin: 10px;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width:100%;
            border: 1px solid #ddd;
            align-content:center;
            table-layout:fixed;
        }
        th, td {
            text-align: left;
            padding: 16px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2
        }
        tr:hover {background-color: #909090}
        tr:not(:active):focus {background-color: #303030}
        a.btnNewRequest {
            width: max-content;
            height: 30px;
            text-decoration: none;
            padding-top: 9px;
            color: #ffff;
            text-align: left;
            line-height: 20px;
            display: block;
            margin-left: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 3px;
            border-color: #0000;
            background: #ff9619;
            font: normal 17px gostTypeB;
        }
    </style>
</head>
<body>
    <div>
        <a href="../ViewRequest/ChoiceType" class="btnNewRequest">Создать новую заявку</a>
    </div>
    <div class="tbl">
        <table>
            <tr>
                <th>Номер</th>
                <th>Тип</th>
                <th>Подразделение</th>
                <th>Дата</th>
            </tr>
            @{
                foreach (var request in Model)
                {
                    string Type = request.groupRequest ? "Group" : "Single";
                    <tr onclick="location.href = '../ViewRequest/SeeRequest_@Type?id=@request.requestId'">
                        <td>@request.requestId</td>
                        <td>@(request.groupRequest ? "Групповая" : "Личная")</td>
                        <td>@request.employeeDivisionName<td>
                        <td>@request.desiredStartDate</td>
                    </tr>
                }
            }
        </table>
    </div>
</body>
</html>